<!DOCTYPE html>
<html ng-app="scheng-web">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<body ng-controller="MainController">
    <h1>Hello {{name}}</h1>
</body>


</body>
</html>
